<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <table id="tb01">
        <tr>
            <td>ID</td>
            <td>Task Name</td>
            <td>Assign to</td>
            <td>Due Date</td>
            <td>Status</td>
            <td>Description</td>
        </tr>
        <% for ( let i =0; i< todo.length;i++){ %>
            <tr>
                <td> <%= todo[i].taskid %></td>
                <td> <%= todo[i].taskname %></td>
                <td> <%= todo[i].assignto %></td>
                <td> <%= todo[i].taskdue %></td>
                <td> <%= todo[i].taskstatus %></td>
                <td> <%= todo[i].taskdesc %></td>
            </tr>

        <% }%>

    </table>
    <h1><a href="/">Home</a></h1>
</body>

<form action="/delete_by_id" method="POST">
<input type="number" name="id" id="id" placeholder="id">
<input type="submit" value="DELETE BY ID">
</form>


</html>