<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
        <table id="tb01">
                <tr>
                    <td>ID</td>
                    <td>Task Name</td>
                    <td>Assign to</td>
                    <td>Due Date</td>
                    <td>Status</td>
                    <td>Description</td>
                </tr>
                <% for ( let i =0; i< data.length;i++){ %>
                    <tr>
                        <td> <%= data[i]._id %></td>
                        <td> <%= data[i].taskname %></td>
                        <td> <%= data[i].developer %></td>
                        <td> <%= data[i].duedate %></td>
                        <td> <%= data[i].status %></td>
                        <td> <%= data[i].description %></td>
                    </tr>
        
                <% }%>
        
            </table>
    <h1><a href="/">Home</a></h1>
</body>

<form  action="/update" method="POST">
    <div><label for="id">id</label>
    <input type="text" name="id" id="id" placeholder="Enter id">
</div>
<div><label for="taskstatus">taskstatus</label>
    <select name="taskstatus">
        <option value="InProgress">InProgress</option>
        <option value="Complete">Complete</option>
      </select>
</div>
<div>
    <input type="submit" value="UPDATE">
</div>
</form>

</html>